.header-buttons{
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding-top: 20px;
  margin-bottom: 20px;
}

.header-button{
  padding: 15px 20px;
  border: 1px solid grey;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header-button:focus{
  color: orangered;
  border-color: orangered;
}